<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
    <img src="http://owencsis410.com/assignments/cmsprojectpart2/pictures/socialmedia/facebook.png" alt="Facebook" style="width:50px;height:50px;">
</a>

<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
    <img src="http://owencsis410.com/assignments/cmsprojectpart2/pictures/socialmedia/twitter.png" alt="HTML tutorial" style="width:50px;height:50px;">
</a>

<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
    <img src="http://owencsis410.com/assignments/cmsprojectpart2/pictures/socialmedia/googleplus.png" alt="HTML tutorial" style="width:50px;height:50px;">
</a>

<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
    <img src="http://owencsis410.com/assignments/cmsprojectpart2/pictures/socialmedia/linkedin.png" alt="HTML tutorial" style="width:50px;height:50px;">
</a>

<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
    <img src="http://owencsis410.com/assignments/cmsprojectpart2/pictures/socialmedia/instagram.png" alt="HTML tutorial" style="width:50px;height:50px;">
</a>